@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-active {
  @apply bg-blue-500 text-white px-4 py-1 rounded text-center text-sm font-semibold hover:bg-blue-400;
}

.button-inactive {
  @apply bg-blue-900 text-white px-4 py-1 rounded text-center text-sm font-semibold hover:bg-blue-800;
}

.button-tertiary {
  @layer font-medium;
  @apply px-[14px] py-[6px] rounded-[3px] border border-Neutral-Colors-Gray-200 bg-Neutral-Colors-White text-sm leading-[20px] text-center;

  /* Hover state */
  @apply hover:bg-Neutral-Colors-Gray-50 hover:border-Neutral-Colors-Gray-300 hover:text-Neutral-Colors-Gray-900;

}
.button-tertiary.is-active {
  @apply bg-blue-100 border-blue-500 text-blue-500;
}

.typography-heading-xl {
  @apply text-xl font-semibold leading-[28px];
}

.typography-heading-lg {
  @apply text-lg font-semibold leading-[28px];
}

.typography-body-md {
  @apply text-sm font-normal leading-[16px];
}

.typography-body-sm {
  @apply text-sm font-normal leading-[20px];
}

.typography-body-bold-sm {
  @apply text-sm font-semibold leading-[16px];
}

